@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 16pt;
}

@media (max-width: 576px) {
  * {
    font-size: 12pt;
  }
}

a {
  text-decoration: none;
}