.slider {
    width: 60vw;
}


.metro_btn {
    padding: 0.6em 1em;
}

.slider_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 60vw;
    text-orientation: upright;
}